<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <head id="head">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Nuevo Usuario <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <div class=" my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Inicia Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </head>
    <section class="container-fluid padd">
        <div class="row">
            <div class="col-sm-6">
                <h3>Registrar</h3>
                <article id="my_app">
                    <form class="form" id="reg_user">
                        <div class="form-group">
                            Nombre:
                            <input type="text" name="name" class="form-control" placeholder="Nombre" needed = "true" autofocus>
                        </div>
                        <div class="form-group">
                            Nombre de Usuario:
                            <input type="text" name="username" class="form-control" placeholder="Nombre de usuario"  needed = "true" >
                        </div>
                        <div class="form-group">
                            Contraseña:
                            <input type="password" name="password" class="form-control" placeholder="Contraseña"  needed = "true" autocomplete>
                        </div>
                        <span id = "messages"></span>
                        <button type="button" class="btn btn-outline-success" id="btn_create_user">Guardar</button>
                    </form>
                </article>
            </div>
        </div>
    </section>
    <script src="../public/js/methods.js"></script>
    <script src="../public/js/events.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>